$gray: #cccccc;
$grayish: #f9f9f9;
$blue: #1094f4;

// control font size
$minFontSize: 1rem;
$scaler: 5vw;
$maxFontSize: 3rem;

html {
  // font-size: calc(2em + 1vw);
  font-size: clamp( $minFontSize, $scaler, $maxFontSize);
}

body {
  width: 98%;
  background-color: $gray;
  margin: 0 auto;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

form {
  max-width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 100%;
}

.user-information input {
  display: block;
  font-size: clamp( $minFontSize, $scaler, $maxFontSize);
}

.login-buttons {
  display: flex;
  justify-content: flex-end;
}

.login-buttons input{
  font-size: clamp( $minFontSize, $scaler, $maxFontSize);
}

@media (max-width: 360px) {
  body {
    background-color: $grayish;
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  body {

  }
}

@media (min-width: 801px) {
  body {
    background-color: $blue;
  }
}
